{% extends 'bootstrap/base.html' %}
{% block head %}
    {{ super() }}
    <title>
        {% block title %} 
        Webapp Flask
        {% endblock %}
    </title>
    <link rel="stylesheet" href="../static/style/style.css">
{% endblock %}

{% block body %}

    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}

    {% block content %}
    <div class="container fluid">
        <h2>Autores</h2>
        <table class="table table-success table-striped">
            <tr>
                <th scope="col">Nombre de autor</th>
                <th scope="col">Apellido del autor</th>
                <th scope="col">País de origen</th>
            </tr>
            {% for autor in datos %}
                <tr>
                    <td>{{ autor[0] }}</td>
                    <td>{{ autor[1] }}</td>
                    <td>{{ autor[2] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% endblock %}
{% endblock %}