{%  extends 'bootstrap/base.html' %}

{% block head %}
    {{ super() }}
    <title>
        {% block title %} Fl    ask Web App |  {% endblock %}
    </title>
    <link rel="stylesheet" href="../static/style/style.css">
{% endblock %}

{% block body %}
    {% block navbar %}
        {% include 'navbar.html' %}
    </header>
    {% endblock %}

    {% block content %}
        <div class="container">
            <img src="../static/assets/portada.jpg" alt="Inicio">
        </div>
        
    {% endblock %} 
{% endblock %}