{% extends 'bootstrap/base.html' %}
{% block head %}
    {{ super() }}
    <title>
        {% block title %}
            Webapp Flask
        {% endblock %}
    </title>
    <link rel="stylesheet" href="../static/style/style.css">
{% endblock %}

{% block body %}

    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}

    {% block content %}
    <h2>Editar país</h2>
    <br>
    <form action="{{ url_for('/update_pais2', id_pais=pais[0]) }}" method="post">
        <input type="hidden" name="id" value="{{ row[0] }}">
        <input type="text" name="nombre" value="{{ row[1] }}">
        <input type="submit" value="Update">
    </form>
