<nav class="navbar navbar-inverse navbar-expand-lg bg-body-tertiary mi-nav">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Biblioteca de Gaby</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" href="{{ url_for('login') }}">Login</a>
          <a class="nav-link active" href="{{ url_for('libros') }}">Libros</a>
          <a class="nav-link" href="{{url_for('insertar_libro')}}">Insertar libro </a>
          <a class="nav-link" href="{{ url_for('autores') }}">Autores</a>
          <a class="nav-link" href="{{ url_for('editoriales') }}">Editoriales</a>
          <a class="nav-link" href="{{ url_for('paises') }}">Países</a>
        </div>
      </div>
    </div>
  </nav>